name: CI on Push and Pull Request

on: [push, pull_request]
jobs:      
  Android:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Android
      run: |
        nuget restore
        cd Naxam.CircleProgressBar.Droid
        msbuild Naxam.CircleProgressBar.Droid.csproj /verbosity:normal /t:Rebuild /p:Configuration=Debug
    - name: Pack
      run: nuget pack Naxam.CircleProgressBar.Droid/Naxam.CircleProgressBar.Droid.csproj
    - name: Push
      run: nuget push .\out\*.nupkg -Source https://api.nuget.org/v3/index.json
